body {
  text-align: center;
  font-family: "arial", sans-serif;
}

img {
  margin: 40px;
}

input[type=text] {
  width: 500px;
  margin: 0 10px;
  height: 20px;
}

input {
  background: url(images/microphone.png) no-repeat right;
}
/* Hides the blue outliine when text has focus
input[type=text]:focus {
  outline: none;
}
*/

button {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 10px 16px;
  text-align: center;
}

button:hover {
  border: 0.5px solid grey;
}

button:focus {
  outline: none;
}
